<html>
<head>
  <title>
    temperature
  </title>
</head>
    <body>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <h1> Hi, The Place name is {{area_name}}  </h1>
      <h3> The Current Temperature is :{{ temp}} (F) degrees  </h3>

      <div class="alert alert-info" role="alert">
        <a href="#" class="alert-link">
      </div>
      <div class="alert alert-warning" role="alert">
         <a href="#" class="alert-link"></a>.
      </div>
      <div class="alert alert-danger" role="alert">
        <a href="#" class="alert-link"></a>
      </div>
    </body>
  </html>
