
<html>
<head>
  <title>
    temperature
  </title>
</head>
    <body>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <h1> Invalid Input, Enter a valid one </h1>
      <meta HTTP-EQUIV="REFRESH" content="3; url=http://127.0.0.1:5000/">

      <div class="alert alert-info" role="alert">
        <a href="#" class="alert-link"></a>
      </div>
      <div class="alert alert-warning" role="alert">
         <a href="#" class="alert-link"></a>.
      </div>
      <div class="alert alert-danger" role="alert">  </div>
        <a href="#" class="alert-link"></a>

    </body>
  </html>
