<html>

<head>
<title> Bangalore weather </title>
</head> </head>
<body>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <form method ="POST" , action = '/temperature'>
    <font size="5">Zip code </font> : <input type = 'text'  name = 'zip'>
    <input type = 'submit'>
    <div class="alert alert-success" role="alert">
   <a href="#" class="alert-link"></a>.
</div>
<div class="alert alert-info" role="alert">
  <a href="#" class="alert-link">
</div>
<div class="alert alert-warning" role="alert">
   <a href="#" class="alert-link"></a>.
</div>
<div class="alert alert-danger" role="alert">
  <a href="#" class="alert-link"></a>

</div>



  </form>
</body

</html>
